* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* ======= FONDO WEB  Y FONTS GENERALES ======= */
body {
  background-color: #fff4ef;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239d8189' fill-opacity='0.2'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  font-family: 'Klee One', cursive; }
  body h1, body h2, body h3, body h4, body h5 {
    font-family: 'Walter Turncoat', cursive;
    color: #450920; }

footer {
  border-top: #A53860 2px solid;
  font-family: 'Walter Turncoat', cursive;
  color: #450920;
  font-size: 1.3rem;
  text-align: center; }

/* ======= BOTONES NAVEGADOR ======= */
ul {
  list-style-type: none;
  text-align: center;
  padding: 0px;
  margin: 5px auto;
  border-bottom: 2px solid #A53860;
  border-top: 2px solid #A53860; }
  ul li {
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: 5px; }
    ul li a {
      text-decoration: none;
      font-weight: bold;
      color: #A53860;
      background-color: #FFE5D9;
      padding: 20px;
      margin: 5px;
      display: inline-block;
      border-radius: 45%; }
      ul li a:hover {
        color: #FFE5D9;
        background-color: #A53860; }

.header__logo {
  display: flex;
  justify-content: center;
  margin: 30px; }

.mx-auto, .d-flex, .justify-content-center {
  margin-left: auto;
  margin-right: auto;
  display: flex; }
  .mx-auto #carouselExampleIndicators, .d-flex #carouselExampleIndicators, .justify-content-center #carouselExampleIndicators {
    margin-top: 20px;
    width: 700px; }
    .mx-auto #carouselExampleIndicators .carousel-inner img, .d-flex #carouselExampleIndicators .carousel-inner img, .justify-content-center #carouselExampleIndicators .carousel-inner img {
      max-width: 100%;
      height: auto; }

.main__texto {
  background-color: #D8E2DC;
  width: 800px;
  height: auto;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px; }
  .main__texto p {
    padding: 10px;
    line-height: 1,2; }

.section__historia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 95px; }
  .section__historia .img__info {
    margin: 10px;
    border: dashed 2px #A53860; }
    .section__historia .img__info .imginfo {
      width: 400px; }
  .section__historia .main__historia {
    background-color: #D8E2DC;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    width: 800px;
    height: auto;
    text-align: justify; }
    .section__historia .main__historia p {
      padding: 10px;
      line-height: 1,2; }

.txt__productos {
  text-align: center;
  font-weight: bold; }

.producto1, .producto2, .producto3 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 20px; }
  .producto1 .dino, .producto1 .zorrito, .producto1 .merlina, .producto2 .dino, .producto2 .zorrito, .producto2 .merlina, .producto3 .dino, .producto3 .zorrito, .producto3 .merlina {
    width: 300px;
    height: 400px;
    margin: 10px;
    border: dashed 2px #A53860; }

.flecha {
  text-align: center;
  margin: 30px; }
  .flecha .flechaTop {
    width: 120px; }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }
  main .titulo__video {
    margin-top: 30px;
    width: 500px;
    background-color: #D8E2DC; }
  main .video1 {
    margin-top: 25px;
    margin-bottom: 100px; }

.logoWp {
  width: 100px;
  position: fixed;
  bottom: 40px;
  right: 40px; }

.container {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "contacto faqs"; }
  .container .contacto {
    grid-area: contacto; }
  .container .faqs {
    grid-area: faqs; }

.contacto {
  text-align: center;
  margin: 20px; }
  .contacto .txt__contacto {
    background-color: #D8E2DC;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    margin: 0 auto;
    width: 600px;
    height: auto; }

form {
  padding: 20px; }

.formulario {
  display: flex; }
  .formulario .datos {
    padding: 5px;
    color: #450920; }

h3 {
  text-align: center;
  margin: 10px; }

.faqs {
  width: 550px; }

.accordion-body {
  background-color: #FFE5D9; }

@media (max-width: 400px) {
  header .logo {
    width: 350px; }
  header nav {
    display: flex;
    width: 400px;
    margin: 0 auto; }
    header nav ul {
      width: 100%;
      padding: 0;
      margin: 0;
      flex-direction: row;
      flex-wrap: wrap; }
      header nav ul li {
        text-align: center; }
        header nav ul li a {
          font-size: 0.7rem; }
  #carouselExampleIndicators {
    width: 400px; }
  .main__texto {
    width: 340px;
    margin-bottom: 20px; }
  .footer {
    font-size: 0.7rem; }
  .logoWp {
    width: 50px;
    bottom: 10px;
    right: 10px; }
  .section__historia {
    flex-direction: column;
    margin-bottom: 10px; }
    .section__historia .img__info .imginfo {
      width: 270px; }
    .section__historia .main__historia {
      width: 340px; }
  .producto1, .producto2, .producto3 {
    flex-wrap: wrap; }
    .producto1 .dino, .producto1 .zorrito, .producto1 .merlina, .producto2 .dino, .producto2 .zorrito, .producto2 .merlina, .producto3 .dino, .producto3 .zorrito, .producto3 .merlina {
      width: 180px;
      height: 250px; }
  .flecha .flechaTop {
    width: 70px; }
  main .titulo__video {
    width: 400px; }
  main .video1 {
    margin-bottom: 20px; }
    main .video1 iframe {
      max-width: 380px; }
  .container {
    width: 400px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "contacto" "faqs"; }
    .container .contacto {
      grid-area: contacto; }
    .container .faqs {
      grid-area: faqs; }
    .container form {
      width: 80%; }
    .container .box {
      width: 100%; } }
