.logoWp{
    width: 100px;
    position: fixed;
    bottom: 40px;
    right: 40px;
}

.container{ 
    width: 90%; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "contacto faqs";
    .contacto{ 
        grid-area: contacto; 
    }
    .faqs{ 
        grid-area: faqs; 
    }
}

.contacto{
    text-align: center;
    margin: 20px;
    .txt__contacto{
        @include texto-estilo;
        margin: 0 auto;
        width: 600px;
        height: auto;
    }
}

form{
    padding: 20px;
    }
    .formulario{
        display: flex;
        .datos{
            padding: 5px;
            color: #450920;
        }
    }

    .faqs{
        width: 300px
    }



