.section__historia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 95px;
    .img__info{
        margin: 10px;
        border: dashed 2px $color_margen;
        .imginfo{
            width: 400px;
        }
    } 

    .main__historia{
        @include texto-estilo;
        width: 800px;
        height: auto;
        text-align: justify;
        p{
            padding: 10px;
            line-height: 1,2;
        }  
    }
}